# For clang-format-15.0.4

BasedOnStyle: Google

# Somehow clang-format output with default setting for google-style doesn't
# pass cpplint utility due include categories order.
#
# According to google-style description it must be: Related header,
# C system headers, C++ standard library headers, other libraries' headers,
# your project's headers.
#
# This custom setting represent that order
IncludeCategories:
  - Regex:           '^<.*\.h>'
    Priority:        1
    SortPriority:    0
  - Regex:           '^<[^\.]+>'
    Priority:        2
    SortPriority:    0
  - Regex:           '^<ext/.*\.h>'
    Priority:        3
    SortPriority:    0
  - Regex:           '^<.*'
    Priority:        3
    SortPriority:    0
  - Regex:           '.*'
    Priority:        4
    SortPriority:    0
