include AUTHORS.md
include CHANGELOG.md
include LICENSE
include README.md
include cmake/wavelet_buffer-config.cmake.in
include conan/conanfile.py
include pyproject.toml
include python/CMakeLists.txt
include python/README.md
include python/src/blaze.cc
include python/src/blaze_utils.cc
include python/src/blaze_utils.h
include python/src/denoise.cc
include python/src/enums.cc
include python/src/init.cc
include python/src/wavelet_buffer.cc
include python/src/wavelet_buffer/__init__.py
include python/src/wavelet_buffer_view.cc
include python/src/wavelet_buffer_view_proxy.h
include setup.py
include sources/padding.cc
include sources/wavelet.cc
include sources/wavelet_buffer.cc
include sources/wavelet_buffer_view.cc
include sources/wavelet_utils.ccg
include wavelet_buffer/denoise_algorithms.h
include wavelet_buffer/padding.h
include wavelet_buffer/primitives.h
include wavelet_buffer/wavelet.h
include wavelet_buffer/wavelet_buffer.h
include wavelet_buffer/wavelet_buffer_view.h
include wavelet_buffer/wavelet_parameters.h
include wavelet_buffer/wavelet_utils.h
exclude MANIFEST.in